
  .BlogWrapper {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .blog-list {
    margin-top: 100px;
  }
  
  .blog-header {
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #ffffff;
    font-weight: bolder;
    border-radius: 5px;
  }
  
  .blog-post .user-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .blog-post .user-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .blog-post .user-info p {
    padding: 10px;
    padding-left: 0px;
    color: #324863;  /* Dark Gray */
  }
  
  .blog-post .Post-Icons {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .edit-icon, .delete-icon {
    cursor: pointer;
    padding-left: 10px;
    color: #324863; /* Gray */
  }
  
  .edit-icon:hover, .delete-icon:hover {
    color: #f48fb1; /* Light Blue */
  }
  
  .blog-post {
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #e3f2fd; /* Very Light Blue */
  }
  
  .blog-post h2 {
    font-size: 1.5em;
    margin-bottom: 30px;
    text-align: center;
    padding: 25px;
    padding-top: 0;
    border-bottom: 1px solid #26ccff; /* Light Blue */
    color: #26ccff; 
  }
  
  .blog-post p {
    line-height: 1.6;
    padding: 30px;
    padding-top: 5px;
    color: #324863; /* Dark Gray */
  }
  
  .post-content {
    background-color: #ffffff; /* White */
    padding: 15px;
    border: 1px solid #8ee2fc; /* Light Blue */
    border-radius: 5px;
    color: #324863; /* Dark Gray */
  }
  
  .blog-post-form {
    margin-bottom: 1rem;
    background: #8ee2fc; /* Light Blue */
    color: white;
    padding: 2rem;
    border-radius: 5px;
  }
  
  .blog-post-form-edit {
    margin-bottom: 1rem;
    background: #e3f2fd;
    color: #324863;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(49, 77, 41, 0.151);
  }
  
  .Welcome-message {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .blog-post-form h2 {
    font-size: 2em;
    margin-bottom: 15px;
    color: #ffffff; /* White */
  }
  
  .blog-post-form-edit h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 15px;
  }
  
  .blog-post-form label {
    font-weight: bold;
    padding-top: 10px;
    color: #ffffff; /* White */
  }
  
  .blog-post-form-edit label {
    font-weight: bold;
    padding-top: 10px;
  }
  
  .text-input {
    display: flex;
    flex-direction: row;
    margin: 15px;
    margin-left: 0;
  }
  
  .blog-post-form input,
  .blog-post-form textarea,
  .blog-post-form-edit input,
  .blog-post-form-edit textarea {
    margin: 5px;
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    outline: none;
    background: #ffffff; /* White */
    border: none;
    border-radius: 5px;
    color: #324863; /* Dark Gray */
  }
  
  .blog-post-form button,
  .blog-post-form-edit button {
    padding: 12px 25px;
    background-color: #324863;  /* Pink */
    color: #ffffff; /* White */
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    margin: 0;
    align-self: flex-end;
  }
  
  .blog-post-form button:hover,
  .blog-post-form-edit button:hover {
    background-color: #f48fb1;
  }